[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
asgiref = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "*"
openai = "*"
yfinance = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
prophet = "*"
requests = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
